* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

html {
  font-family: 'Red Hat Display', 'sans-serif';
  font-size: 62.5%; }

body header {
  width: 100%;
  height: 10rem; }
  body header nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background-color: #76c893;
    padding: 0 2rem;
    box-shadow: 3px 1px 12px 8px #00000030;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    body header nav .logo {
      font-size: 3rem;
      font-weight: 700;
      color: #003049; }
    body header nav .box-search {
      width: 65rem;
      height: 4rem;
      border-radius: 2.5rem;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      background-color: #fff; }
      body header nav .box-search #search-input {
        height: 2.3rem;
        width: 80%;
        font-size: 1.7rem;
        border: none;
        margin-left: 2rem; }
      body header nav .box-search #search-input:focus {
        outline: none; }
      body header nav .box-search button {
        font-size: 1.4rem;
        border: none;
        background: rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 2rem; }
        body header nav .box-search button i {
          font-size: 1.4rem;
          padding: 0 0.5rem 0 0; }
      body header nav .box-search button:hover {
        color: #41c36f; }
      body header nav .box-search button:active {
        color: #1a9e48; }
    body header nav .icons {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      body header nav .icons li a i {
        color: #003049;
        font-size: 2.3rem;
        padding-left: 2rem; }
      body header nav .icons li a i:hover {
        color: white; }

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(51, 55, 60, 0.484), rgba(15, 15, 15, 0.5)), url("https://cdn.pixabay.com/photo/2018/11/17/22/15/trees-3822149_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .main .caja {
    background-color: #fff;
    padding: 3rem 4rem;
    border-radius: 5px; }
    .main .caja .first {
      height: 4rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 1rem 0; }
      .main .caja .first img {
        max-width: 5rem; }
      .main .caja .first h1 {
        font-size: 3rem;
        color: #76c893;
        margin: 1rem; }
  .main .changed h2 {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 2rem; }
  .main .changed form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main .changed form .contenedor-inputs-registrar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main .changed form .contenedor-inputs-registrar input {
        width: 100%;
        margin-bottom: 2rem;
        height: 5.2rem;
        font-size: 1.8rem;
        text-align: center;
        border: none;
        border-bottom: 1px solid #BBBBBB; }
    .main .changed form .btn-submit-registrar {
      padding: 0 2rem;
      height: 4rem;
      line-height: 4rem;
      border: none;
      color: #fff;
      background: #41c36f;
      border-radius: 3px;
      font-size: 1.6rem;
      transition: .3s ease all;
      cursor: pointer; }
    .main .changed form .btn-submit-registrar:hover {
      background: rgba(10, 196, 19, 0.799);
      cursor: pointer; }
    .main .changed form .btn-submit-registrar:active {
      background: rgba(8, 163, 16, 0.902); }
    .main .changed form p {
      margin: 0.4rem;
      font-size: 1.15rem; }
      .main .changed form p span {
        text-decoration: underline; }
      .main .changed form p span:hover {
        color: #7501e3;
        cursor: pointer; }
      .main .changed form p span:active {
        color: blue; }

body main .frase {
  width: 100%;
  height: 13rem;
  background-image: linear-gradient(rgba(51, 55, 60, 0.484), rgba(15, 15, 15, 0.5)), url("https://cdn.pixabay.com/photo/2018/11/17/22/15/trees-3822149_960_720.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  body main .frase h1 {
    font-size: x-large;
    color: #fff; }
  body main .frase h2 {
    font-size: medium;
    font-weight: lighter;
    color: #fff; }

body main .overlay {
  background: rgba(0, 0, 0, 0.541);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  /*  //CHANGED ETIQUETA ID    
            .changed{
                visibility: hidden;
                opacity: 0;
                position: absolute;
                transition: .3s ease all;
                h3 {
                    font-size: 2.6rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }
                form {
                    @include display-flex(column, center, center);
                    .contenedor-inputs-registrar {
                        @include display-flex(column, center, center);
                        input {
                            width: 100%;
                            margin-bottom: 2rem;
                            height: 5.2rem;
                            font-size: 1.8rem;
                            text-align: center;
                            border: none;
                            border-bottom: 1px solid #BBBBBB;
                        } 
                    }
                    .btn-submit-registrar {
                        padding: 0 2rem;
                        height: 4rem;
                        line-height: 4rem;
                        border: none;
                        color: #fff;
                        background: #41c36f;
                        border-radius: 3px;
                        font-size: 1.6rem;
                        transition: .3s ease all;
                        cursor: pointer;
                    }
                }

            }
            .changed.active {
                background: #fff;
                visibility: visible;
                position: inherit;
                opacity: 1;
                transform: scale(1);
                @include display-flex(column, center,center);
            }
             */ }
  body main .overlay .popup {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 2rem;
    text-align: center;
    width: 60rem;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0; }
    body main .overlay .popup .btn-cerrar-popup {
      font-size: 1.6rem;
      line-height: 1.6rem;
      display: block;
      text-align: right;
      color: #BBBBBB;
      transition: .2s ease all; }
    body main .overlay .popup .btn-cerrar-popup:hover {
      color: #cf0000; }
    body main .overlay .popup #change {
      transition: .3s ease all;
      transform: scale(0.7);
      opacity: 0; }
      body main .overlay .popup #change h3 {
        font-size: 2.6rem;
        font-weight: 600;
        margin-bottom: 1rem; }
      body main .overlay .popup #change form .contenedor-inputs input {
        width: 85%;
        margin-bottom: 2rem;
        height: 5.2rem;
        font-size: 1.8rem;
        text-align: center;
        border: none;
        border-bottom: 1px solid #BBBBBB; }
      body main .overlay .popup #change form .contenedor-inputs #check {
        width: 1.35rem;
        height: 1.35rem;
        margin-right: 0.5rem;
        margin-bottom: 1.9rem; }
      body main .overlay .popup #change form .contenedor-inputs span {
        font-size: 1.35rem; }
      body main .overlay .popup #change form .btn-submit {
        padding: 0 2rem;
        height: 4rem;
        line-height: 4rem;
        border: none;
        color: #fff;
        background: #41c36f;
        border-radius: 3px;
        font-size: 1.6rem;
        transition: .3s ease all; }
      body main .overlay .popup #change form .btn-submit:hover {
        background: rgba(10, 196, 19, 0.799);
        cursor: pointer; }
      body main .overlay .popup #change form .btn-submit:active {
        background: rgba(8, 163, 16, 0.902); }
      body main .overlay .popup #change form h5 {
        font-size: 1.3rem;
        font-weight: 500;
        margin: 1rem 0; }
        body main .overlay .popup #change form h5 span {
          font-weight: 500;
          text-decoration: underline;
          color: blueviolet; }
        body main .overlay .popup #change form h5 span:hover {
          color: #7501e3;
          cursor: pointer; }
        body main .overlay .popup #change form h5 span:active {
          color: blue; }
  body main .overlay .popup.active,
  body main .overlay #change.active {
    opacity: 1;
    transform: scale(1); }

body main .overlay.active {
  visibility: visible; }

body main .pasos {
  width: 100%;
  height: 22rem; }
  body main .pasos h3 {
    font-size: large;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0; }
  body main .pasos .pasos-compra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    body main .pasos .pasos-compra div {
      width: 28rem;
      height: 14rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      background-color: #fff; }
      body main .pasos .pasos-compra div p:first-of-type {
        font-size: large;
        font-weight: 600;
        font-weight: 700; }
      body main .pasos .pasos-compra div p {
        font-size: medium;
        padding: 0.5rem; }
      body main .pasos .pasos-compra div p:last-of-type {
        font-size: small;
        text-align: center;
        color: rgba(77, 77, 77, 0.96);
        padding: 0 2.5rem; }
      body main .pasos .pasos-compra div i {
        font-size: x-large;
        color: #76c893;
        padding: 0.8rem;
        width: 5.1rem;
        height: 5.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #76c89330; }

body .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr; }
  body .grid .section-filtrar {
    width: 30rem;
    padding: 3rem 5rem 0 5rem;
    grid-column: 1/2; }
    body .grid .section-filtrar .filtrar h2 {
      font-size: 2rem;
      padding: 0.5rem; }
    body .grid .section-filtrar .filtrar p {
      text-transform: capitalize;
      font-weight: 700;
      font-size: 1.5rem;
      padding: 0.5rem; }
    body .grid .section-filtrar .filtrar .f-marca div {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      padding-left: 2rem; }
      body .grid .section-filtrar .filtrar .f-marca div label {
        padding: 0.5rem;
        font-size: 1.4rem; }
    body .grid .section-filtrar .filtrar .f-precio div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 0.3rem 0 0.3rem 2rem; }
      body .grid .section-filtrar .filtrar .f-precio div label {
        font-size: 1.4rem; }
    body .grid .section-filtrar .filtrar .f-cantidad div {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      padding-left: 2rem; }
      body .grid .section-filtrar .filtrar .f-cantidad div label {
        padding: 0.5rem;
        font-size: 1.4rem; }
    body .grid .section-filtrar .filtrar #btn-sin-filtros {
      width: 15rem;
      height: 3rem;
      font-weight: 600;
      margin: 2rem;
      color: #003049;
      background-color: #5de78ec9;
      border: none;
      box-shadow: 1.5px 1.5px 2.8px #0000006b; }
    body .grid .section-filtrar .filtrar h3 {
      font-size: 1.5rem;
      padding: 0.5rem; }
  body .grid .box-productos {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    grid-column: 2/5; }
    body .grid .box-productos .container {
      width: 23rem;
      height: auto;
      margin: 2rem 2rem;
      padding: 2rem;
      padding-bottom: 1rem;
      background-color: #fff;
      box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.541); }
      body .grid .box-productos .container .img-card {
        width: 100%;
        height: 20rem; }
        body .grid .box-productos .container .img-card img {
          width: 90%;
          height: 100%;
          object-fit: cover; }
      body .grid .box-productos .container .texto {
        margin: 1rem 1.5rem; }
        body .grid .box-productos .container .texto p, body .grid .box-productos .container .texto .precio {
          font-size: 1.4rem;
          margin: 1rem 0; }
        body .grid .box-productos .container .texto p:first-of-type {
          text-transform: capitalize; }
        body .grid .box-productos .container .texto div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center; }
          body .grid .box-productos .container .texto div input {
            max-width: 12rem;
            height: 2.6rem; }
          body .grid .box-productos .container .texto div button {
            color: #41c36f;
            background-color: #fff;
            width: 2.3rem;
            height: 2.3rem;
            margin-left: 1rem;
            padding: 1.3rem;
            border-radius: 5px;
            border: 1px solid #000;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; }
          body .grid .box-productos .container .texto div button:active {
            background-color: #41c36f;
            color: #fff; }
